<template name="meetingItem">
  <div class="meeting">
    <div class="meeting-content">
      <h3><a href="{{pathFor 'meetingQuestions'}}">{{name}}</a></h3>
      <p> <b>Code:</b> {{meetingCode}} </p>

      {{#if extendedView }}
        <p> <b>Start Time:</b> {{formatDate startTime}} </p>
        <p> <b>End Time:</b> {{formatDate endTime}} </p>
      {{/if}}

      <p> <b>Questions:</b> {{questionsCount}} </p>
      
      {{#if owner}}
        <a href="{{pathFor 'updateMeeting'}}">Edit</a>
        <button type="button" name="cancelMeeting" class="btn btn-danger" id="cancelMeeting">Remove</button>
      {{/if}}

    </div>
  </div>
</template>
