<template name="updateMeeting">
  <form class="main form page">
    <div class="form-group {{errorClass 'name'}}">
      <label for="name" class="control-label">Name</label>
      <div class="controls">
        <input type="text" id='name' name="name" value="{{name}}" placeholder="Meeting subject" class="form-control"/>
        <span class="help-block">{{errorMessage 'name'}}</span>
      </div>
    </div>

    <div class="form-group {{errorClass 'meetingCode'}}">
      <label for="meetingCode" class="control-label">6-char Meeting Code</label>
      <div class="controls">
        <input type="text" id='meetingCode' name="meetingCode" value="{{meetingCode}}" placeholder="Meeting code" class="form-control"/>
        <span class="help-block">{{errorMessage 'meetingCode'}}</span>
      </div>
    </div>

    <div class="form-group {{errorClass 'startTime'}}">
      <label for="startTime" class="control-label">Start Time</label>
      <div class="controls">
        <input type="datetime-local" id='startTime' name="startTime" class="form-control" value="{{formatDateForDatePicker startTime}}"/>
        <span class="help-block">{{errorMessage 'startTime'}} </span>
      </div>
    </div>

    <div class="form-group {{errorClass 'endTime'}}">
      <label for="endTime" class="control-label">End Time</label>
      <div class="controls">
        <input type="datetime-local" id='endTime' name="endTime" class="form-control" value="{{formatDateForDatePicker endTime}}"/>
        <span class="help-block">{{errorMessage 'endTime'}}</span>
      </div>
    </div>

    <input type="submit" value="Save meeting" class="btn btn-success">
    
    <a class="btn btn-danger" href="{{pathFor 'meetingList'}}" role="button">Go Back</a>
    
  </form>

</template>
